.home{
    width: 20%;
    display: inline-block;
    vertical-align: top;

}
.gain{
    color: green;
}
.loss{
    color: red;
}
.main{
    height: 200px;
}
.activities{
    overflow: scroll;
    height: 200px;

}
