<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ninja_app/css/style.css' %}"> 
    <title>Document</title>
</head>

<body>
    <div class="header">
        <h3>Your Gold:{{gold}}
        </h3>
    </div>
    <div class="main">
        <div class="home">
            <h1>Farm</h1>
            <p>(earns 10-20 gold)</p>
            <form action="/" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
        <div class="home">
            <h1>Cave</h1>
            <p>(earns 5-10 gold)</p>
            <form action="/" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
        <div class="home">
            <h1>House</h1>
            <p>(earns 2-5 gold)</p>
            <form action="/" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
        <div class="home">
            <h1>Casino</h1>
            <p>(earns/takes 0-50 gold)</p>
            <form action="/" method="post">
                {% csrf_token %}
                <input type="hidden" name="building" value="`" />
                <input type="submit" value="Find Gold!" />
            </form>
        </div>
    </div>
    <div class="footer">
        <h3>Activities:</h3>
        <div class="activities">
            {% for activity in log reversed %}
            {% if activity.value >= 0 %}
            <p class="gain">you gained {{activity.value}} from {{activity.name}} at {{activity.date}}!</p>
            {% else %}
            <p class="loss">you lost {{activity.value}} from {{activity.name}} at {{activity.date}}!</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>